body{
    background-color: gray;
}

#cabecera {
    width: 100%;
     height: 50px;
     border: black solid 1px;
     background: rgb(16, 74, 94);
     position: fixed;
     top: 1px;
     z-index: 2;
}

#navMenu {

    border: solid black 1px;
    position: absolute;
    top: 25px;
    margin: auto;
    left: 30%;
    z-index: 2;

}

.link {
color: white;
padding-left: 80px;

}

.titulo {
     position: relative;
     top:  50px;
     text-align: center;
     font-size: 40px;
}


/* ACTIVIDADES */
#actividades{
    width: 100%;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 10%;
    text-align: center;
}

.unidades {
     border: black solid 1px;
     height: 600px;
    float: left;
    width: 20%;
}

p { 
    font-size: 18px;
}